<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        form {
            margin: 50px auto;
            width: 300px;
            text-align: center;
        }
        input {
            margin: 10px 0;
            padding: 10px;
        }
        button {
            padding: 10px 20px;
        }
    </style>
</head>
<body>
    <form>
        <h2>Login</h2>
        <input type="text" placeholder="Username">
        <br>
        <input type="password" placeholder="Password">
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
