<!DOCTYPE html>
<html lang="es">

<div th:replace="~{fragments/head :: head}"></div>

<body>

    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <div class="container mt-5">
        <h1 class="text-center">Perfil de Usuario <span th:text="${session.usuariosession.nombre}"></span></h1>

        <div class="row justify-content-center">
            <div class="col-md-6">
                <!-- Información del Usuario -->
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Información del Usuario </h5>
                        <p><strong>Nombre:</strong> <span th:text="${session.usuariosession.nombre}"></span></p>
                        <p><strong>Email:</strong> <span th:text="${session.usuariosession.email}"></span></p>
                        <p><strong>Rol:</strong> <span th:text="${session.usuariosession.rol}"></span></p>
                    </div>
                </div>

                <!-- Imagen del Usuario -->
                <div class="card mt-4">
                    <div class="card-body">
                        <h5 class="card-title">Imagen del Usuario</h5>
                        <!-- Aquí puedes mostrar la imagen del usuario -->
                        <!-- TODO IMPLEMENTAR LOGICA IMAGEN -->
                        <!-- <img class="logo" th:src="@{/imagen/perfil/__${session.usuariosession.id}__}" -->
                            alt="Imagen del Usuario">
                    </div>
                </div>

                <!-- Botones de Acción -->
                <div class="mt-4">
                    <!-- <a href="/editar-perfil/__${id}__" class="btn btn-info">Editar Perfil</a> -->
                    <a th:href="@{/usuario/editar-perfil/__${session.usuariosession.id}__}" class="btn btn-info">Editar Perfil</a>
                    

                </div>
                
                <!-- <div class="mt-4">
                    <a href="/cambiar-contrasena" class="btn btn-info">Cambiar Contraseña</a>
                </div> -->

                <div class="mt-4">
                    <a href="/" class="btn btn-primary">Volver a Inicio</a>
                </div>

                <br>
            </div>
        </div>
    </div>
    </div>

    <div th:replace="~{fragments/footer :: footer}"></div>

</body>

</html>