<!DOCTYPE html>
<html lang="es">

<div th:replace="~{fragments/head :: head}"></div>

<body>

    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <div class="container mt-5">
        <h1 class="text-center">Perfil de <span th:text="${session.usuariosession.nombre}"></span></h1>
        <hr>

        <div class="row justify-content-center">
            <!-- Información del Usuario -->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">

                        <!-- Imagen del Usuario -->
                        <div class="card-body">
                            <img class="logo" th:src="@{/imagen/perfil/__${session.usuariosession.id}__}"
                                alt="Sin Imagen del Usuario">
                        </div>

                        <hr>
                        
                        <h5 class="card-title">Información del Usuario </h5>
                        <p><strong>Nombre:</strong> <span th:text="${session.usuariosession.nombre}"></span></p>
                        <p><strong>DNI:</strong> <span th:text="${session.usuariosession.dni}"></span></p>
                        <p><strong>Email:</strong> <span th:text="${session.usuariosession.email}"></span></p>
                        <p><strong>Rol:</strong> <span th:text="${session.usuariosession.rol}"></span></p>
                        <!-- Logica de CLIENTE A ENTE -->

                        <form sec:authorize="hasRole('ROLE_CLIENT')" action="/usuario/cambiar-rol" method="post">
                            <input type="hidden" name="userId" th:value="${session.usuariosession.id}" />
                            <button type="submit" class="btn-warning">Solicitar Cambio a ENTE</button>
                        </form>
                        <form sec:authorize="hasRole('ROLE_ENTE')" action="/usuario/cambiar-rol" method="post">
                            <input type="hidden" name="userId" th:value="${session.usuariosession.id}" />
                            <button type="submit" class="btn-warning">Solicitar Cambio a CLIENTE</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <!-- Botones de Acción -->
        <div class="row mt-4">
            <div class="col-md-12 text-center">
                <a th:href="@{/usuario/editar-perfil/__${session.usuariosession.id}__}" class="btn btn-info">Editar
                    Perfil</a>
                <a href="/" class="btn btn-primary">Volver a Inicio</a>
            </div>
        </div>
    </div>

    <br>

    <div th:replace="~{fragments/footer :: footer}"></div>

</body>

</html>