<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/head :: head}"></div>

<body>
    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <div class="container">
        <br>
        <h2>Lista de Propiedades</h2>
        <hr>
        <div class="row">

            <div class="container my-1">
                <!-- Mensajes Condicionales -->
                <div th:if="${error != null}">
                    <div class="alert text-center alert-danger fade show" role="alert">
                        <strong>ERROR</strong>
                        <p th:text="${error}"></p>
                    </div>
                </div>
                <div th:if="${exito != null}">
                    <div class="alert text-center alert-success fade show" role="alert">
                        <strong>EXITO</strong>
                        <p th:text="${exito}"></p>
                    </div>
                </div>
                <!-- Mensajes Condicionales -->
            </div>

            <div th:each="page, iterStat : ${page.content}" class="col-md-5">
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <!-- <img th:src="${property.imagenes[0].url}" class="card-img-top" alt="Property Image"> -->
                        <h5 class="card-title" th:text="${page.tipo}"></h5>
                        <p class="card-text" th:text="'Precio: ' + ${page.precio}"></p>
                        <p class="card-text" th:text="'Usuario: ' + ${page.usuario.nombre}"></p>
                        <!-- <p class="card-text" th:text="${page.usuario.descripcion}"></p> -->
                        <!-- <p class="card-text" th:text="${page.usuario.direccion}"></p> -->
                    </div>

                            

                    <!-- Formulario para ofertar -->
                    <form class="form-oferta" action="/oferta/crear" method="post">
                        <input type="hidden" name="usuarioId" th:value="${session.usuariosession.id}" />
                        <input type="hidden" name="propiedadId" th:value="${page.id}" />
                        <label for="monto">Tu oferta:</label>
                        <br>
                        <input type="number" name="valorOferta" required />
                        <button type="submit" class="btn btn-primary">Ofertar</button>
                    </form>

                </div>
            </div>

            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>Tipo</th>
                            <th>Precio</th>
                            <th>Propietario</th>
                            <th>Descripcion</th>
                            <th>Rol</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="page, iterStat : ${page.content}">
                            <td th:text="${page.tipo}"></td>
                            <td th:text="${page.precio}"></td>
                            <td th:text="${page.usuario.nombre}"></td>
                            <td th:text="${page.direccion}"></td>
                            <td th:text="${page.usuario.rol}"></td>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-sm btn-outline-secondary">Modificar</a>
                                    <a class="btn btn-sm btn-outline-secondary"
                                        onclick="return confirm('¿Estás seguro de que deseas eliminar este Elemento?')">Eliminar</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="container">
                <!-- Selector de cantidad de registros a mostrar -->
                <label for="pageSize">Mostrar:</label>
                <select id="pageSize" name="pageSize" onchange="changePageSize(this.value)">
                    <option value="0" th:selected="${pageSize == 0}">-</option>
                    <option value="5" th:selected="${pageSize == 5}">5</option>
                    <option value="10" th:selected="${pageSize == 10}">10</option>
                    <option value="20" th:selected="${pageSize == 20}">20</option>
                </select>

                <!-- Paginación -->
                <nav>
                    <!-- justify-content-center/end/start -->
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:if="${currentPage > 0}">
                            <a class="page-link"
                                th:href="@{/propiedad/listar(page=${currentPage - 1}, size=${page.Size})}"
                                aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>

                        <li th:each="i : ${#numbers.sequence(currentPage - 1, currentPage + 1)}"
                            th:if="${i >= 0 and i < totalPages}" th:class="${currentPage == i} ? 'active' : ''" >
                            <a class="page-link" th:href="@{/propiedad/listar(page=${i}, size=${page.Size})}"
                                th:text="${i + 1}"></a>
                        </li>

                        <li class="page-item" th:if="${currentPage < totalPages - 1}">
                            <a class="page-link"
                                th:href="@{/propiedad/listar(page=${currentPage + 1}, size=${page.Size})}"
                                aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="text-center">
                <p>Total de páginas <span th:text="${page.totalPages}"></span>, total de resultados <span
                        th:text="${page.totalElements}"></span></p>
            </div>
        </div>
    </div>

    <div th:replace="~{fragments/footer :: footer}"></div>
    <script>
        function changePageSize(size) {
            window.location.href = "/propiedad/listar?page=0&size=" + size;
        }
    </script>



</body>

</html>