<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{fragments/head :: head}"></div>

<body>
    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <div class="container">
        <br>
        <h2>Modificar Propiedad</h2>
        <hr>
        <form th:action="@{/propiedad/editar/__${propiedad.id}__}" method="post" enctype="multipart/form-data">
            <div class="form-group mb-2">
                <label for="precio">Precio:</label>
                <input type="number" class="form-control" id="precio" name="precio" th:value="${propiedad.precio}" required />
            </div>

            <div class="form-group mb-2" >
                <label for="descripcion">Descripcion:</label>
                <!-- <textarea type="text" class="form-control" id="descripcion" name="descripcion" th:value="${propiedad.descripcion}" required ></textarea>     -->
                <input type="text" class="form-control" id="descripcion" name="descripcion" th:value="${propiedad.descripcion}" required >
            </div>

            <div class="form-group mb-2" >
                <label for="Direccion">Direccion:</label>
                <input type="text" class="form-control" id="direccion" name="direccion" th:value="${propiedad.direccion}" required /> 
            </div>

            <div class="form-group mb-2">
                <label for="tipo">Tipo:</label>
                <select class="form-control" id="tipo" name="tipo" required>
                    <option value="DEPARTAMENTO">Departamento</option>
                    <option value="CASA">Casa</option>
                    <option value="OFICINA">Oficina</option>
                    <!-- Agrega más opciones según tus necesidades -->
                </select>
            </div>

            <div class="form-group mb-2">
                <label for="usuario">Usuario:</label>
                <input type="text" class="form-control" 
                    th:value="${propiedad.usuario.nombre}" readonly />
                <input hidden type="text" class="form-control" id="usuario" name="usuario"
                    th:if="${session.usuariosession != null}" th:value="${session.usuariosession.id}" readonly />
            </div>

            <div class="form-group mb-2">
                <label for="estado">Estado:</label>
                <select class="form-control" id="estado" name="estado" required>
                    <option value="true">Activo</option>
                    <option value="false">Inactivo</option>
                </select>
            </div>
    
            <!-- Puedes agregar lógica para modificar las imágenes -->
            <div class="form-group">
                <label for="imagenes">Imágenes:</label>
                <input type="file" name="imagen" multiple="multiple" accept="image/*" class="form-control-file" />
                <small class="form-text text-muted">Selecciona imágenes para la propiedad.</small>
            </div>
    
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </form>
    
        <div class="container my-1">
            <!-- Mensajes Condicionales -->
            <div th:if="${error != null}">
                <div class="alert text-center alert-danger fade show" role="alert">
                    <strong>ERROR</strong>
                    <p th:text="error"></p>
                </div>
            </div>
            <div th:if="${exito != null}">
                <div class="alert text-center alert-success fade show" role="alert">
                    <strong>EXITO</strong>
                    <p th:text="exito"></p>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="~{fragments/footer :: footer}"></div>

</body>

</html>