<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/head :: head}"></div>

<body>
    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <div class="container">
        <br>
        <h2>Listado de Ofertas</h2>
        <hr>

        <nav class="navbar navbar-light bg-light">
            <form class="form-inline" th:action="@{/oferta/ofertas}" th:method="get">
                <label class="mr-2">Ordenar por:</label>
                <select class="form-control mr-2" name="orderBy">
                    <option value="usuario.nombre">Usuario</option>
                    <option value="propiedad.estado">Estado</option>
                    <option value="valorOferta">Valor Maximo</option>
                    <option value="valorOferta">Valor Minimo</option>
                </select>
                <button class="btn btn-outline-secondary" type="submit">Ordenar</button>
            </form>
        </nav>

        <table class="table">
            <thead>
                <tr>
                    <th>Propiedad</th>
                    <th>Valor de Oferta</th>
                    <th>Usuario</th>
                    <th>Estado</th>
                    <th>Fecha</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <!-- Iterar sobre las ofertas -->
                <tr th:each="oferta : ${ofertas}">
                    <td th:text="${oferta.propiedad.descripcion}"></td>
                    <td th:text="${oferta.valorOferta}"></td>
                    <td th:text="${oferta.usuario.nombre}"></td>
                    <td th:text="${oferta.estado}"></td>
                    <td th:text="${oferta.fecha}"></td>
                    <td>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <!-- Botones para aceptar o denegar la oferta -->
                                <button class="btn btn-sm btn-success">
                                    Aceptar
                                </button>
                                <button class="btn btn-sm btn-danger">
                                    Denegar
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <div th:replace="~{fragments/footer :: footer}"></div>
    <script>

    </script>



</body>

</html>