<footer th:fragment="footer" class="bg-light text-center py-3">
    &copy; 2023 Inmobiliaria Digital. Todos los derechos reservados.
    <br>
    <a href="https://youtube.com/playlist?list=PLai9ahHHcVe5FUWyCIJOZdvWymhlfAQkD&si=g29rZBVw8s47jw_1" target="_blank" rel="noopener noreferrer" style="color: red;">
        <i class="fab fa-youtube"></i> Lista de Videos en YouTube
    </a>
    <br>
    <a href="https://github.com/nyos2/Proyecto-Final-VanguardiaPropiedades" target="_blank" rel="noopener noreferrer" style="color: black;">
        <i class="fab fa-github"></i> GitHub
    </a>
    
    
</footer>