<footer th:fragment="footer" class="bg-11111F text-center py-3" style="background-color: #11111F; color: #fff;">
    &copy; 2023 Inmobiliaria Digital. Todos los derechos reservados.
    <br>
    <a href="https://youtube.com/playlist?list=PLai9ahHHcVe5FUWyCIJOZdvWymhlfAQkD&si=g29rZBVw8s47jw_1" target="_blank" rel="noopener noreferrer" style="color: #ff0000;">
        <i class="fab fa-youtube"></i> Lista de Videos en YouTube
    </a>
    <br>
    <a href="https://github.com/nyos2/Proyecto-Final-VanguardiaPropiedades" target="_blank" rel="noopener noreferrer" style="color: #ffffff;">
        <i class="fab fa-github"></i> GitHub
    </a>
    <br>
    <a href="https://trello.com/invite/b/JvRkkzS0/ATTIdf71d98fc8766911b1cefb9023c50137669BA70D/equipo-r-proyecto-final-spring" target="_blank" rel="noopener noreferrer" style="color: rgb(255, 255, 255);">
        <i class="fa-solid fa-folder"></i> Trello
    </a>
</footer>