<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navbar">
  <a class="navbar-brand" href="/"><img th:src="@{images/LogoModificado.png}">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
     
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="propiedadesDropdown" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Propiedades
        </a>
        <div class="dropdown-menu" aria-labelledby="propiedadesDropdown">
          <a class="dropdown-item" href="/propiedades/lista">Lista de Propiedades</a>
          <a class="dropdown-item" href="/propiedades/listar">Listar Propiedades</a>
          <a class="dropdown-item" href="/propiedades/modificar">Modificar Propiedades</a>

          <!-- Opciones con login 
                    <th:block th:if="${request.isUserInRole('ROLE_USER')}">
                        <a class="dropdown-item" href="/propiedades/lista">Lista de Propiedades</a>
                    </th:block>
                    <th:block th:if="${request.isUserInRole('ROLE_ENTE')}">
                        <a class="dropdown-item" href="/propiedades/Agregar">Agregar Propiedades</a>
                        <a class="dropdown-item" href="/propiedades/modificar">Modificar Propiedades</a>
                    </th:block>
                    <th:block th:if="${request.isUserInRole('ROLE_ADMIN')}">
                        <a class="dropdown-item" href="/propiedades/Agregar">Agregar Propiedades</a>
                        <a class="dropdown-item" href="/propiedades/modificar">Modificar Propiedades</a>
                    </th:block>
                    -->

        </div>
      </li>

      <!-- Opción "Iniciar" -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="editorialesDropdown" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Usuarios
        </a>
        <div class="dropdown-menu">
          <th:block th:if="${session.usuariosession == null}">
            <a class="dropdown-item" href="/usuario/registrar">Crear Cuenta</a>
            <a class="dropdown-item" href="/login">Iniciar Sesión</a>
          </th:block>
          <th:block th:if="${session.usuariosession != null}">
            <a class="dropdown-item" href="/perfil">Perfil</a>
            <a class="dropdown-item" href="/logout">Cerrar Sesión</a>
          </th:block>
        </div>

        <!-- Opciones con login
                    <th:block th:if="${session.usuariosession == null}>
                        <a class="dropdown-item" href="/perfil">Crear Cuenta</a>
                        <a class="dropdown-item" href="/perfil">Iniciar Sesión</a>
                    </th:block>
                    <th:block th:if="${session.usuariosession != null}>
                        <a class="dropdown-item" href="/perfil">Perfil</a>
                        <a class="dropdown-item" href="/logout">Cerrar Sesión</a>
                    </th:block>
                -->
      </li>
    </ul>
  </div>
</nav>