<!-- Barra de navegación -->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #11111F;" th:fragment="navbar">
  <!-- Logo y enlace a la página principal -->
  <a class="navbar-brand" href="/"><img th:src="@{/images/logo.png}"></a>
  
  <!-- Botón para colapsar la barra de navegación en pantallas pequeñas -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  

  <!-- Contenido de la barra de navegación -->
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
     
      <!-- Menú desplegable "Propiedades" -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="propiedadesDropdown" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Propiedades
        </a>
        <div class="dropdown-menu" aria-labelledby="propiedadesDropdown">
          <!-- Opciones del menú desplegable "Propiedades" -->
          <a class="dropdown-item" href="/propiedades/lista">Lista de Propiedades</a>
          <a class="dropdown-item" href="/propiedades/listar">Listar Propiedades</a>
          <a class="dropdown-item" href="/propiedades/modificar">Modificar Propiedades</a>
        </div>
      </li>

      <!-- Menú desplegable "Usuarios" -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="editorialesDropdown" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Usuarios
        </a>
        <div class="dropdown-menu">
          <!-- Opciones del menú desplegable "Usuarios" con respecto al estado de sesión -->
          <th:block th:if="${session.usuariosession == null}">
            <a class="dropdown-item" href="/usuario/registrar">Crear Cuenta</a>
            <a class="dropdown-item" href="/login">Iniciar Sesión</a>
          </th:block>
          <th:block th:if="${session.usuariosession != null}">
            <a class="dropdown-item" href="/usuario/perfil">Perfil</a>
            <a class="dropdown-item" href="/logout">Cerrar Sesión</a>
          </th:block>
        </div>
      </li>
    </ul>
  </div>
</nav>
