/* Estilos generales para la barra de navegación */
body {
  margin: 0;
  padding: 0;
}

.navbar {
  margin: 10px; /* Ajusta el margen alrededor de la barra de navegación */
  padding: 10px; /* Ajusta el espacio interno de la barra de navegación */
}

/* Estilos para el logotipo en la barra de navegación */
.navbar-brand {
  display: flex;
  align-items: center; /* Centra verticalmente */
  justify-content: flex-end; /* Centra horizontalmente a la derecha */
  margin-left: auto; /* Mueve el logotipo hacia la derecha */
}

/* Estilos para el botón de alternancia en la barra de navegación */
.navbar-toggler-icon {
  background-color: #11111F;
}

/* Estilos para los botones en la barra de navegación */
.navbar-nav .nav-link {
  border: 2px solid #97999B; /* Borde de 2px en color #97999B */
  border-radius: 5px; /* Bordes redondeados */
  color: #ffffff !important; /* Cambié el color del texto a blanco */
  font-weight: bold;
  margin-left: 10px; /* Ajusta el margen a la izquierda de los botones */
}

/* Estilos para el menú desplegable */
.dropdown-menu {
  background-color: #2D2E2F; /* Cambia el color de fondo del menú desplegable */
  border-radius: 5px; /* Bordes redondeados */
}

/* Estilos para los elementos del menú desplegable */
.dropdown-item {
  color: #97999B; /* Color del texto igual al color de los bordes */
  transition: background-color 0.3s, color 0.3s;
}

/* Estilos al pasar el mouse sobre los elementos del menú desplegable */
.dropdown-item:hover {
  background-color: #555;
  color: #D9D9D9;
}

