.navbar {
  padding: 10px;
  border-radius: 5px;
}

.navbar-brand {
  color: white;
  font-weight: bold;
}

.navbar-toggler-icon {
  background-color: white;
}

.nav-link {
  color: white;
  font-weight: bold;
}

/* Estilos para el menú desplegable */
.dropdown-menu {
  background-color: #333;
  border-radius: 10px;
}

.dropdown-item {
  color: white;
  /* Color del texto de los elementos del menú desplegable */
  transition: background-color 0.3s, color 0.3s;
  /* Transición para cambio de color y fondo de los elementos */
}

.dropdown-item:hover {
  background-color: #555;
  /* Cambia el color de fondo al pasar el mouse */
  color: #ffd700;
  /* Cambia el color del texto al pasar el mouse */
}


.navbar-brand img {
  max-height: 150px;
  border-radius: 300px;
}