/* Estilos generales para la barra de navegación */
body {
  margin: 0;
  padding: 0;
}

.navbar {
  margin: 10px; 
  padding: 10px; 
  border-radius: 15px;
}

.navbar-brand {
  display: flex;
  align-items: center; 
  justify-content: flex-end; 
  margin-left: auto; 
}

.navbar-toggler-icon {
  background-color: #11111F;
}

.navbar-nav .nav-link {
  border: 2px solid #97999B; 
  border-radius: 5px; 
  color: #ffffff !important; 
  font-weight: bold;
  margin-left: 10px;
}

/* Estilos para el menú desplegable */
.dropdown-menu {
  background-color: #2D2E2F; 
  border-radius: 5px; 
  right: 0; 
  left: auto; 
}

/* Estilos para los elementos del menú desplegable */
.dropdown-item {
  color: #97999B; 
  transition: background-color 0.3s, color 0.3s;
}

.dropdown-item:hover {
  background-color: #555;
  color: #D9D9D9;
}

/* Agrega estilos personalizados al botón de la barra de navegación */
.navbar-toggler {
  background-color: #97999B; 
  border: 1px solid #D9D9D9; 
  color: #ffffff; 
  padding: 8px 15px; 
  border-radius: 4px; 
}

/* Cambia el color del icono del botón */
.navbar-toggler-icon {
  background-color: #ffffff;
}

/* Estilos para la clase custom-navbar */
.custom-navbar {
  background-color: #f8f9fa; 
  color: #212529; 
  padding: 10px; 
  border-radius: 5px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

/* Estilos para los elementos dentro de custom-navbar */
.custom-navbar label,
.custom-navbar select,
.custom-navbar input,
.custom-navbar button {
  margin-right: 10px;
}

/* Cambio de color al pasar el ratón sobre custom-navbar */
.custom-navbar:hover {
  background-color: #e2e6ea; 
}

/* Estilos para el botón dentro de custom-navbar */
.custom-navbar button {
  background-color: #007bff; 
  color: #ffffff; 
  border: 1px solid #007bff; 
  border-radius: 3px; 
}

/* Cambio de color al pasar el ratón sobre el botón dentro de custom-navbar */
.custom-navbar button:hover {
  background-color: #0056b3; 
  border-color: #0056b3; 
}

