/* Estilos "Sobre Nosotros" */

/* Estilo para el texto */
@font-face {
  font-family: 'Aero Matics Stencil Regular';
  src: url('/fonts/Aero Matics Stencil Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.page-heading {
  color: #cdcdcd; /* Color del texto */
  text-align: center; /* Alinea el texto al centro */
  padding: 100px 0; /* Relleno superior e inferior */

/* Estilo para la imagen */
  img {
     width: 100%; /* Hace que la imagen ocupe el 100% del ancho del contenedor padre */
     max-width: 100vw; /* Limita el ancho de la imagen al ancho de la ventana del navegador si es más pequeño */
     height: auto; /* Mantiene la proporción original de la imagen */
     display: block; /* Elimina cualquier espacio adicional alrededor de la imagen */
     margin: 10px auto 0; /* Ajusta la posición vertical de la imagen */
     border: 5px solid #11111F; /* Borde de color */
     border-radius: 15px; /* Bordes redondeados */
  }

  .text-content {
    color: #cdcdcd; /* Color del texto */
    text-align: center; /* Alinea el texto al centro */
    padding: 20px 0; /* Relleno superior e inferior */
    background-color: #11111F; /* Fondo de color para el encabezado */
    border-radius: 5px; /* Bordes redondeados */
    font-family: 'Aero Matics Stencil Regular', sans-serif; /* Aplica la fuente personalizada */
  }
}

/* Estilos "Nuestra Empresa" */

.best-features {
  padding-top: 20px; /* Ajusta el relleno superior */
  margin-bottom: 50px; /* Agrega un margen inferior para separar de otras secciones */
}

.best-features h2 {
  color: #cdcdcd; /* Color del texto */
  text-align: center; /* Alinea el texto al centro */
  padding: 20px 0; /* Relleno superior e inferior */
  background-color: #11111F; /* Fondo de color para el encabezado */
  border-radius: 5px; /* Bordes redondeados */
  font-family: 'Aero Matics Stencil Regular', sans-serif; /* Aplica la fuente personalizada */
}

.right-image img {
  width: 100%;
  border: 5px solid #11111F;
  border-radius: 15px;
}

.left-content {
  padding: 0 20px;
}

/* Estilos para los íconos de redes sociales */
.social-icons {
  list-style: none;
  padding: 0;
  text-align: center;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
  background-color: #11111F;
  padding: 10px; /* Espaciado interno alrededor del icono */
  border-radius: 5px; /* Bordes redondeados */
}

.social-icons i {
  color: #ffffff;
  text-decoration: none;
}

/* Estilos "Nuestra Empresa" */
.image-container {
  text-align: center;
}

.image-container img {
  max-width: 90%; /* Ajusta el porcentaje según tu preferencia */
  height: auto; /* Mantiene la proporción original de la imagen */
  display: block; /* Elimina cualquier espacio adicional alrededor de la imagen */
  margin: 0 auto; /* Centra la imagen horizontalmente dentro del contenedor */
}

/* -------------------------------- */
