<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{fragments/head :: head}"></div>

<body>
    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <main class="container">
        <div class="text-center my-5">
            <h1>Inmobiliaria Digital</h1>
            <img th:src="@{/images/casa-rota.jpg}" class="logo">
            <h2 th:text="'Error' + ${codigo}+' Sorry T.T '"></h2>
            <h4 th:text="${mensaje}"></h4>
        </div>
    </main>

    <div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>