<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{fragments/head :: head}"></div>

<body>

  <div th:replace="~{fragments/navbar :: navbar}"></div>

  <main>

    <div class="principal">
      <div class="banner-info text-center">
        <p>
          <b style="font-size:19px">¿Quienes somos?</b><br>
          Nos conocimos en la universidad, diez jóvenes estudiantes con una pasión compartida por el mundo
          inmobiliario.<br>
          Cada uno tenía sus propias fortalezas y habilidades, complementándonos a la perfección. <br>
          Después de graduarnos, decidimos fundar nuestra propia inmobiliaria, con poco dinero, <br>
          pero mucha energía y entusiasmo. Trabajamos duro todos los días y pronto comenzamos a tener éxito. <br>
          Hoy somos reconocidos por ayudar a muchas personas a encontrar la casa de sus sueños.
          <br><br>
          <a th:href="@{/login}">
            <button class="btn" type="button" style="background-color: #0D2E2F; color:#fff">Servicios</button>
          </a>
        </p>
      </div>
    </div>
    <br>
    <div>
      <div class="card bg-dark text-white mb-3">
        <div class="row g-0">
          <div class="col-md-6">
            <img th:src="@{/images/cartel.jpg}" class="img-fluid rounded-start" alt="Cartel">
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <h5 class="card-title">PROPIEDADES VANGUARDISTAS</h5>
              <p class="card-text">
                Localización: Calle Falsa 123, 18th Floor
                Honolulu, HI. 96815 <br>
                (666) 666-9666 <br>
                Teléfono: 666-666-9666 <br>
                Horarios: Lunes - Viernes | 7:53am - 18:13pm <br>
                Correo Electronico: propiedadesVanguardistas@mail.com <br>
                Redes Sociales: 
                <a href="#" class="social-icon facebook"><i class="fab fa-facebook"></i></a>
                <a href="#" class="social-icon twitter"><i class="fab fa-twitter"></i></a>
                <a href="#" class="social-icon instagram"><i class="fab fa-instagram"></i></a>
                <a href="#" class="social-icon youtube"><i class="fab fa-youtube"></i></a> <br>
              </p>
              <a href="#" class="btn btn-outline-light">Ir hacia arriba</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>

    <div th:replace="~{fragments/footer :: footer}"></div>

</body>

</html>