<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/login.css}" />

    <div th:replace="~{fragments/head :: head}"></div>

</head>

<body>

    <div th:replace="~{fragments/navbar :: navbar}"></div>
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">

                <form class="formulario" th:action="@{/logincheck}" method="POST">
                    <div class="form-group my-3">
                        <h3 class="card-title">Iniciar Sesión</h3>
                    </div>
                    <div class="form-group my-3">
                        <input type="email" class="form-control" name="email" placeholder="Email">
                    </div>
                    <div class="form-group my-3">
                        <input type="password" class="form-control" name="password" placeholder="Contraseña">
                    </div>
                    <button type="submit" class="btn btn-primary mt-3 botones">Iniciar Sesión</button>
                </form>

                <section class="text-center container">
                    <div class="row mt-3">
                        <div class="divVolver">
                            <a th:href="@{/}" class="btn btn-secondary my-2 botonVolver botones">Volver</a>
                        </div>
                    </div>
                </section>

                <div th:if="${error != null}" class="card text-white bg-danger mb-3 mensajeError">
                    <div class="card-body">
                        <h5 class="card-title">Error 👎</h5>
                        <p class="card-text" th:text="${error}"></p>
                    </div>
                </div>
                <div th:if="${exito != null}" class="card text-white bg-success mb-3 mt-3 mensajeExito">
                    <div class="card-body">
                        <h5 class="card-title">Exito!</h5>
                        <p class="card-text" th:text="${exito}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="espacio-en-blanco"></div>
    <div th:replace="~{fragments/footer :: footer}"></div>
    
</body>

</html>