<!DOCTYPE html>
<html lang="en">

<div th:replace="~{fragments/head :: head}"></div>

<body>

    <!-- Incluye el fragmento de la barra de navegación -->
    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <div class="container">
        <section>
            <h2>Nuestra Historia</h2>
            <p>Somos una empresa comprometida con la excelencia desde [año de inicio]. Desde nuestros humildes
                comienzos,
                hemos crecido y evolucionado para convertirnos en [breve descripción de la empresa].</p>
        </section>


    <!-- Incluye el fragmento del pie de página -->
    <div th:replace="~{fragments/footer :: footer}"></div>

</body>

</html>